<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h4>Rekapitulasi</h4>
            <hr/>
        </div>
        <div class="col-md-12">
            <div class="blockui" block-ui="block">
                <div class="well">
                    <table class="rt1">
                        <tr>
                            <td style="width: 20%;"><strong>Bulan</strong></td>
                            <td style="width: 20%;"><strong>Tahun</strong></td>
                            <td style="width: 45%;"><strong>Diagnosa</strong></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>
                                <ui-select name="month" ng-model="rk.month.selected" ng-change="rk.change(rk.month.selected.name,rk.year.selected.name,rk.diag.selected.id)">
                                    <ui-select-match placeholder="Bulan...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="month in rk.months | filter: $select.search">
                                        <div ng-bind-html="month.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <ui-select name="year" ng-model="rk.year.selected" ng-change="rk.change(rk.month.selected.name,rk.year.selected.name,rk.diag.selected.id)">
                                    <ui-select-match placeholder="Tahun...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="year in rk.years | filter: $select.search">
                                        <div ng-bind-html="year.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <ui-select name="diag" ng-model="rk.diag.selected" ng-change="rk.change(rk.month.selected.name,rk.year.selected.name,rk.diag.selected.id)">
                                    <ui-select-match placeholder="Diagnosa...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="diag in rk.diags | filter: $select.search">
                                        <div ng-bind-html="diag.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </td>
                            <td>
                                <a href="" ng-click="rk.popup(rk.month.selected.name,rk.year.selected.name,rk.diag.selected.id)"><span class="fa fa-print fa-fw"></span> Cetak</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-show="rk.nodata" class="alert alert-info"><span class="fa fa-exclamation-circle"></span> Tidak ada data!</div>
                <div class="table-responsive" ng-show="rk.bydate.length>0">
                    <table class="table table-condensed rt2">
                        <thead>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-center">Umur</th>
                                <th class="text-center">Jenis Kelamin</th>
                                <th class="text-center">Diagnosa</th>
                                <th class="text-center">B</th>
                                <th class="text-center">L</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="date in rk.bydate">
                                <td class="text-center" style="width: 3%; background: #eee;"><span class="fa fa-calendar"></span></td>
                                <td style="background: #eee;" colspan="7">{{date|date:'dd MMMM yyyy'}}</td>
                            </tr>
                            <tr ng-repeat-start="pasien in rk.filter | orderBy: 'nama'" ng-hide="pasien.tanggal!=date">
                                <td></td>
                                <td class="text-center">{{pasien.registrasi}}</td>
                                <td><a ui-sref="rekam.sub({id: pasien.pid})">{{pasien.nama}}</a></td>
                                <td class="text-center">{{pasien.umur}}</td>
                                <td class="text-center">{{pasien.jk}}</td>
                                <td>{{pasien.diagnosaname}}</td>
                                <td class="text-center"><span ng-show="pasien.status=='B'" class="fa fa-check"></span></td>
                                <td class="text-center"><span ng-show="pasien.status=='L'" class="fa fa-check"></span></td>
                            </tr>
                            <tr ng-repeat-end></tr>
                            <tr ng-repeat-end ng-hide="false">
                                <td colspan="7" style="height: 28px;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>