<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h4>Pemeriksaan / Tindakan Medis Diagnostik</h4>
            <hr/>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#t1" aria-controls="t1" role="tab" data-toggle="tab">1</a></li>
            <li role="presentation"><a href="#t2" aria-controls="t2" role="tab" data-toggle="tab">2</a></li>
            <li role="presentation"><a href="#t3" aria-controls="t3" role="tab" data-toggle="tab">3</a></li>
            <li role="presentation"><a href="#t4" aria-controls="t4" role="tab" data-toggle="tab">4</a></li>
            <li role="presentation"><a href="#t5" aria-controls="t5" role="tab" data-toggle="tab">5</a></li>
            <li role="presentation"><a href="#t6" aria-controls="t6" role="tab" data-toggle="tab">6</a></li>
        </ul>


        <div class="blockui" block-ui="block">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t1">
                    <form class="form" name="form1" ng-submit="rk.submit1(form1)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">1.</td>
                                <td style="width: 28%;">Bronkhoskopi (Tgl)</td>
                                <td>
                                    <input type="text" name="bronkhoskopitgl" class="form-control input-sm" ng-model="rk.data.bronkhoskopitgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Hasil</td>
                                <td>
                                    <textarea name="bronkhoskopihasil" class="form-control" rows="3" ng-model="rk.data.bronkhoskopihasil"></textarea>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="t2">
                    <form class="form" name="form2" ng-submit="rk.submit2(form2)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">2.</td>
                                <td colspan="2" style="width: 28%;">Tes Fungsi Paru</td>
                                <td></td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="width: 2%;">a.</td>
                                <td>Spirometer (Tgl)</td>
                                <td>
                                    <input type="text" name="spirometertgl" class="form-control input-sm" ng-model="rk.data.spirometertgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>EVC</td>
                                <td>
                                    <input type="text" name="evc" class="form-control input-sm" ng-model="rk.data.evc" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>FVC (KVP)</td>
                                <td>
                                    <input type="text" name="fvc" class="form-control input-sm" ng-model="rk.data.fvc" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>FEVI (VEPI)</td>
                                <td>
                                    <input type="text" name="fevi" class="form-control input-sm" ng-model="rk.data.fevi" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>%FVC (%KVP)</td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="persenfvc" class="form-control input-sm" ng-model="rk.data.persenfvc" />
                                        <div class="input-group-addon">%</div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>%FEVI (%VEPI)</td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="persenfevi" class="form-control input-sm" ng-model="rk.data.persenfevi" />
                                        <div class="input-group-addon">%</div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Kesimpulan</td>
                                <td>
                                    <ui-select name="kesimpulan" ng-model="rk.kesimpulan.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="kesimpulan in rk.kesimpulans">
                                            <div ng-bind-html="kesimpulan.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <ui-select name="kkesimpulan" ng-model="rk.kkesimpulan.selected" search-enabled="false" ng-disabled="!rk.kesimpulan.selected.name" ng-required="rk.kesimpulan.selected.name">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="kkesimpulan in rk.kkesimpulans">
                                            <div ng-bind-html="kkesimpulan.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td class="has-error">
                                    <p class="help-block" style="margin: 0;" ng-show="(form2.kkesimpulan.$error.required) && rk.submitted">
                                        Tidak boleh kosong
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>b.</td>
                                <td>PEFR (APE) (Tgl)</td>
                                <td>
                                    <input type="text" name="pefrtgl" class="form-control input-sm" ng-model="rk.data.pefrtgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="input-group">
                                        <input type="text" name="pefr" class="form-control input-sm" ng-model="rk.data.pefr" />
                                        <div class="input-group-addon">L/menit</div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>c.</td>
                                <td>Tes Bronkhodilator (Uji Bronkhodilator) (Tgl)</td>
                                <td>
                                    <input type="text" name="bronkhodilatortgl" class="form-control input-sm" ng-model="rk.data.bronkhodilatortgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <ui-select name="bronkhodilator" ng-model="rk.bronkhodilator.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="bronkhodilator in rk.bronkhodilators">
                                            <div ng-bind-html="bronkhodilator.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>d.</td>
                                <td>Tes Provokasi Bronkhus (Uji Kepekaan Bronkhus) (Tgl)</td>
                                <td>
                                    <input type="text" name="bronkhustgl" class="form-control input-sm" ng-model="rk.data.bronkhustgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <ui-select name="bronkhus" ng-model="rk.bronkhus.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="bronkhus in rk.bronkhuss">
                                            <div ng-bind-html="bronkhus.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="text" name="kbronkhus" class="form-control input-sm" placeholder="Keterangan" ng-model="rk.data.kbronkhus" ng-disabled="!rk.bronkhus.selected.name" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="t3">
                    <form class="form" name="form3" ng-submit="rk.submit3(form3)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">3.</td>
                                <td colspan="2" style="width: 28%;">Pemeriksaan Jantung</td>
                                <td></td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="width: 2%;">a.</td>
                                <td>Elektrokardiograf (EKG) (Tgl)</td>
                                <td>
                                    <input type="text" name="ekgtgl" class="form-control input-sm" ng-model="rk.data.ekgtgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Hasil</td>
                                <td>
                                    <textarea name="ekghasil" class="form-control" rows="3" ng-model="rk.data.ekghasil"></textarea>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="width: 2%;">b.</td>
                                <td>Tes Treadmill (Tgl)</td>
                                <td>
                                    <input type="text" name="treadmilltgl" class="form-control input-sm" ng-model="rk.data.treadmilltgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Hasil</td>
                                <td>
                                    <textarea name="treadmillhasil" class="form-control" rows="3" ng-model="rk.data.treadmillhasil"></textarea>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="t4">
                    <form class="form" name="form4" ng-submit="rk.submit4(form4)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">4.</td>
                                <td colspan="2" style="width: 28%;">Immunologi</td>
                                <td></td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td style="width: 2%;">a.</td>
                                <td>LGE Total</td>
                                <td>
                                    <input type="text" name="lge" class="form-control input-sm" ng-model="rk.data.lge" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>b.</td>
                                <td>Tes Alergi Kulit (Skin Test)</td>
                                <td>
                                    <ui-select name="skin" ng-model="rk.skin.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="skin in rk.skins">
                                            <div ng-bind-html="skin.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <input type="text" name="kskin" class="form-control input-sm" placeholder="Keterangan" ng-model="rk.data.kskin" ng-disabled="!rk.skin.selected.name" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>c.</td>
                                <td>Tes Tuberkulin (Mantoux Test)</td>
                                <td>
                                    <ui-select name="tuberkulin" ng-model="rk.tuberkulin.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="tuberkulin in rk.tuberkulins">
                                            <div ng-bind-html="tuberkulin.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="t5">
                    <form class="form" name="form5" ng-submit="rk.submit5(form5)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">5.</td>
                                <td style="width: 28%;">Proof Punctie Pleura (Tgl)</td>
                                <td>
                                    <input type="text" name="pleuratgl" class="form-control input-sm" ng-model="rk.data.pleuratgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Hasil</td>
                                <td>
                                    <textarea name="pleurahasil" class="form-control" rows="3" ng-model="rk.data.pleurahasil"></textarea>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="t6">
                    <form class="form" name="form6" ng-submit="rk.submit6(form6)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">6.</td>
                                <td style="width: 28%;">Histoli, Sitologi (Biopsi Jarum Halus, Biopsi Aspirs, dsb.) (Tgl)</td>
                                <td>
                                    <input type="text" name="histolitgl" class="form-control input-sm" ng-model="rk.data.histolitgl" data-date-format="dd MMMM yyyy" bs-datepicker>
                                </td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Lokasi</td>
                                <td>
                                    <input type="text" name="histolilokasi" class="form-control input-sm" ng-model="rk.data.histolilokasi" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Bahan</td>
                                <td>
                                    <input type="text" name="histolibahan" class="form-control input-sm" ng-model="rk.data.histolibahan" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Hasil</td>
                                <td>
                                    <textarea name="histolihasil" class="form-control" rows="3" ng-model="rk.data.histolihasil"></textarea>
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>