<navbar></navbar>

<header class="hero-unit banner">
    <div class="container">
        <img src="assets/images/sumut.png">
        <h1>Aplikasi Rekam Medik</h1>
        <p class="lead">UPT. Kesehatan Paru Masyarakat</p>
    </div>
</header>

<div class="container">
    <div class="col-md-2" ng-show="main.isRekam()" ng-repeat="menu in main.rekam">
        <div class="hpanel">
            <a ui-sref="{{menu.state}}">
                <div class="panel-body text-center">
                    <div class="m">
                        <span class="{{menu.icon}}"></span>
                    </div>
                </div>
                {{menu.label}}</a>
        </div>
    </div>
    <div class="col-md-2" ng-show="main.isGudang()" ng-repeat="menu in main.gudang">
        <div class="hpanel">
            <div class="panel-body">
                <div class="text-center">
                    <a ui-sref="{{menu.state}}">
                        <div class="m">
                            <span class="{{menu.icon}}"></span>
                        </div>
                        {{menu.label}}</a>
                </div>
            </div>
        </div>
    </div>
</div>