<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h4>Diagnosa</h4>
            <hr/>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#t1" aria-controls="t1" role="tab" data-toggle="tab">1</a></li>
        </ul>


        <div class="blockui" block-ui="block">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t1">
                    <form class="form" name="form1" ng-submit="rk.submit1(form1)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">1.</td>
                                <td style="width: 33%;">
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="1"> TB Paru</label>
                                </td>
                                <td></td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ui-select name="ptbparu" ng-model="rk.ptbparu.selected" search-enabled="false" ng-disabled="rk.pdiagnosa.opt!='1'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ptbparu in rk.ptbparus">
                                            <div ng-bind-html="ptbparu.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select name="ptbparupositif" ng-model="rk.ptbparupositif.selected" search-enabled="false" ng-show="rk.ptbparu.selected.name=='TB Paru BTA Positif'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ptbparupositif in rk.ptbparupositifs">
                                            <div ng-bind-html="ptbparupositif.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select name="ptbparunegatif" ng-model="rk.ptbparunegatif.selected" search-enabled="false" ng-show="rk.ptbparu.selected.name=='TB Paru BTA Negatif'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ptbparunegatif in rk.ptbparunegatifs">
                                            <div ng-bind-html="ptbparunegatif.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select name="ptbparuekstra" ng-model="rk.ptbparuekstra.selected" search-enabled="false" ng-show="rk.ptbparu.selected.name=='TB Ekstra Paru'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ptbparuekstra in rk.ptbparuekstras">
                                            <div ng-bind-html="ptbparuekstra.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <ui-select name="ptbparuekstralokasi" ng-model="rk.ptbparuekstralokasi.selected" search-enabled="false" ng-show="rk.ptbparu.selected.name=='TB Ekstra Paru'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ptbparuekstralokasi in rk.ptbparuekstralokasis">
                                            <div ng-bind-html="ptbparuekstralokasi.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="2"> ISPA (Infeksi Saluran Pernafasan Akut)</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ui-select name="pispa" ng-model="rk.pispa.selected" search-enabled="false" ng-disabled="rk.pdiagnosa.opt!='2'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="pispa in rk.pispas">
                                            <div ng-bind-html="pispa.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select name="ppneumonia" ng-model="rk.ppneumonia.selected" search-enabled="false" ng-show="rk.pispa.selected.name=='Pneumonia'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ppneumonia in rk.ppneumonias">
                                            <div ng-bind-html="ppneumonia.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="3"> Penyakit Kelainan Pleura</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ui-select name="ppleura" ng-model="rk.ppleura.selected" search-enabled="false" ng-disabled="rk.pdiagnosa.opt!='3'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ppleura in rk.ppleuras">
                                            <div ng-bind-html="ppleura.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select name="ppneumothoraks1" ng-model="rk.ppneumothoraks1.selected" search-enabled="false" ng-show="rk.ppleura.selected.name=='Pneumothoraks'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ppneumothoraks1 in rk.ppneumothoraks1s">
                                            <div ng-bind-html="ppneumothoraks1.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select name="pefusi" ng-model="rk.pefusi.selected" search-enabled="false" ng-show="rk.ppleura.selected.name=='Efusi Pleura (Hemathothoraks / Empyema)'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="pefusi in rk.pefusis">
                                            <div ng-bind-html="pefusi.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <ui-select name="ppneumothoraks2" ng-model="rk.ppneumothoraks2.selected" search-enabled="false" ng-show="rk.ppleura.selected.name=='Pneumothoraks'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="ppneumothoraks2 in rk.ppneumothoraks2s">
                                            <div ng-bind-html="ppneumothoraks2.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="4"> Asma Bronkhial</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ui-select name="pbronkhial" ng-model="rk.pbronkhial.selected" search-enabled="false" ng-disabled="rk.pdiagnosa.opt!='4'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="pbronkhial in rk.pbronkhials">
                                            <div ng-bind-html="pbronkhial.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select name="pdewasa" ng-model="rk.pdewasa.selected" search-enabled="false" ng-show="rk.pbronkhial.selected.name=='Dewasa'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="pdewasa in rk.pdewasas">
                                            <div ng-bind-html="pdewasa.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <ui-select name="panak" ng-model="rk.panak.selected" search-enabled="false" ng-show="rk.pbronkhial.selected.name=='Anak'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="panak in rk.panaks">
                                            <div ng-bind-html="panak.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="5"> Penyakit Paru Obstruktif Kronik (PPOK)</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ui-select name="pppok" ng-model="rk.pppok.selected" search-enabled="false" ng-disabled="rk.pdiagnosa.opt!='5'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="pppok in rk.pppoks">
                                            <div ng-bind-html="pppok.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td>
                                    <ui-select name="peksaserbasi" ng-model="rk.peksaserbasi.selected" search-enabled="false" ng-show="rk.pppok.selected.name=='Eksaserbasi Akut'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="peksaserbasi in rk.peksaserbasis">
                                            <div ng-bind-html="peksaserbasi.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>6.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="6"> Cor Pulmonale Chronicum (CPC)</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="7"> Bronkhiektasis</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>8.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="8"> Atelektasis</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="9"> Abses Paru</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="10"> Abses Paru</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Tipe / Jenis Sel</td>
                                <td>
                                    <input type="text" name="ptptipe" class="form-control input-sm" ng-model="rk.ptptipe" ng-disabled="rk.pdiagnosa.opt!='10'">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Stadium</td>
                                <td>
                                    <input type="text" name="ptpstadium" class="form-control input-sm" ng-model="rk.ptpstadium" ng-disabled="rk.pdiagnosa.opt!='10'">
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>11.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="11"> Tumor Mediastinum</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>12.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="12"> Penyakit Vascular Paru</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ui-select name="pvascular" ng-model="rk.pvascular.selected" search-enabled="false" ng-disabled="rk.pdiagnosa.opt!='12'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="pvascular in rk.pvasculars">
                                            <div ng-bind-html="pvascular.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>13.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="13"> Sequele Tuberkulosis</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <ui-select name="psequele" ng-model="rk.psequele.selected" search-enabled="false" ng-disabled="rk.pdiagnosa.opt!='13'">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="psequele in rk.psequeles">
                                            <div ng-bind-html="psequele.name"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>14.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="14"> Penyakit Paru / Saluran Nafas Lainnya</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="text" name="pparu" class="form-control input-sm" ng-model="rk.pparu" ng-disabled="rk.pdiagnosa.opt!='14'">
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>15.</td>
                                <td>
                                    <label>
                                        <input type="radio" ng-model="rk.pdiagnosa.opt" value="15"> Penyakit Non Paru / Non Saluran Nafas Lainnya</label>
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="text" name="pnonparu" class="form-control input-sm" ng-model="rk.pnonparu" ng-disabled="rk.pdiagnosa.opt!='15'">
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>