<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h4>Diagnosa</h4>
            <hr/>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#t1" aria-controls="t1" role="tab" data-toggle="tab">Primer</a></li>
            <li role="presentation"><a href="#t2" aria-controls="t2" role="tab" data-toggle="tab">Sekunder</a></li>
        </ul>

        <div class="blockui" block-ui="block">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t1">
                    <form class="form" name="form1" ng-submit="rk.submit1(form1)" novalidate>
                        <table class="ft" style="width: 50%;">
                            <tr>
                                <td>Diagnosa Primer</td>
                            </tr>
                            <tr>
                                <td>
                                    <ui-select name="pd" ng-model="rk.pd.selected">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="pd in rk.pds | filter: $select.search">
                                            <div ng-bind-html="pd.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==1">
                                <td>
                                    <ui-select name="pdid1" ng-model="rk.pdid1.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid1 in rk.pdid1s">
                                            <div ng-bind-html="pdid1"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==2">
                                <td>
                                    <ui-select name="pdid2" ng-model="rk.pdid2.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid2 in rk.pdid2s">
                                            <div ng-bind-html="pdid2"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==4">
                                <td>
                                    <ui-select name="pdid4" ng-model="rk.pdid4.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid4 in rk.pdid4s">
                                            <div ng-bind-html="pdid4"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==4">
                                <td>
                                    <ui-select name="pdid4k" ng-model="rk.pdid4k.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid4k in rk.pdid4ks">
                                            <div ng-bind-html="pdid4k"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==5">
                                <td>
                                    <ui-select name="pdid5" ng-model="rk.pdid5.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid5 in rk.pdid5s">
                                            <div ng-bind-html="pdid5"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==13">
                                <td>
                                    <ui-select name="pdid13" ng-model="rk.pdid13.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid13 in rk.pdid13s">
                                            <div ng-bind-html="pdid13"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==13">
                                <td>
                                    <ui-select name="pdid13k" ng-model="rk.pdid13k.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid13k in rk.pdid13ks">
                                            <div ng-bind-html="pdid13k"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==14">
                                <td>
                                    <ui-select name="pdid14" ng-model="rk.pdid14.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid14 in rk.pdid14s">
                                            <div ng-bind-html="pdid14"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==28">
                                <td>
                                    <ui-select name="pdid28" ng-model="rk.pdid28.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid28 in rk.pdid28s">
                                            <div ng-bind-html="pdid28"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==33">
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">Tipe / Jenis Sel</span>
                                        <input type="text" name="pdid33k1" class="form-control input-sm" ng-model="rk.pdid33k1" />
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==33">
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon">Stadium</span>
                                        <input type="text" name="pdid33k2" class="form-control input-sm" ng-model="rk.pdid33k2" />
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==35">
                                <td>
                                    <ui-select name="pdid35" ng-model="rk.pdid35.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid35 in rk.pdid35s">
                                            <div ng-bind-html="pdid35"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==36">
                                <td>
                                    <ui-select name="pdid36" ng-model="rk.pdid36.selected" search-enabled="false">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="pdid36 in rk.pdid36s">
                                            <div ng-bind-html="pdid36"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==37">
                                <td>
                                    <input type="text" name="pdid37" class="form-control input-sm" ng-model="rk.pdid37" />
                                </td>
                            </tr>
                            <tr ng-show="rk.pd.selected.id==38">
                                <td>
                                    <input type="text" name="pdid38" class="form-control input-sm" ng-model="rk.pdid38" />
                                </td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="t2">
                    <form class="form" name="form2" ng-submit="rk.submit2(form2)" novalidate>
                        <table class="ft" style="width: 50%;">
                            <tr>
                                <td>Diagnosa Sekunder</td>
                            </tr>
                            <tr>
                                <td>
                                    <ui-select name="sd" ng-model="rk.sd.selected">
                                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="sd in rk.sds | filter: $select.search">
                                            <div ng-bind-html="sd.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <textarea name="ksd" class="form-control" rows="3" ng-model="rk.ksd"></textarea>
                                </td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>