<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h3>Create Pasien</h3>
            <hr/>
        </div>
        <div class="col-md-4">
            <form class="form" name="form" ng-submit="rk.submit(form)" novalidate>
                <div class="form-group" ng-class="{'has-error':form.registrasi.$error.required && rk.submitted}">
                    <label>Nomor Registrasi <span class="req">*</span></label>
                    <input type="text" name="registrasi" class="form-control input-sm" ng-model="rk.data.registrasi" required>
                    <p class="help-block" ng-show="form.registrasi.$error.required && rk.submitted">
                        <span class="fa fa-times-circle fa-fw"></span> Tidak boleh kosong
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-error':form.tanggal.$error.required && rk.submitted}">
                    <label>Tanggal Registrasi <span class="req">*</span></label>
                    <input type="text" name="tanggal" class="form-control input-sm" ng-model="rk.data.tanggal" data-date-format="dd MMMM yyyy" bs-datepicker required>
                    <p class="help-block" ng-show="form.tanggal.$error.required && rk.submitted">
                        <span class="fa fa-times-circle fa-fw"></span> Tidak boleh kosong
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-error':form.nama.$error.required && rk.submitted}">
                    <label>Nama Pasien <span class="req">*</span></label>
                    <input type="text" name="nama" class="form-control input-sm" ng-model="rk.data.nama" required>
                    <p class="help-block" ng-show="form.nama.$error.required && rk.submitted">
                        <span class="fa fa-times-circle fa-fw"></span> Tidak boleh kosong
                    </p>
                </div>
                <div class="form-group">
                    <label>Tanggal Lahir</label>
                    <input type="text" name="lahir" class="form-control input-sm" ng-model="rk.data.lahir" ng-change="rk.lahir(rk.data.lahir)" data-date-format="dd MMMM yyyy" bs-datepicker>
                </div>
                <div class="form-group" ng-class="{'has-error':form.umur.$error.required && rk.submitted}">
                    <label>Umur <span class="req">*</span></label>
                    <input type="text" name="umur" class="form-control input-sm" ng-model="rk.data.umur" required>
                    <p class="help-block" ng-show="form.umur.$error.required && rk.submitted">
                        <span class="fa fa-times-circle fa-fw"></span> Tidak boleh kosong
                    </p>
                </div>
                <div class="form-group" ng-class="{'has-error':form.jk.$error.required && rk.submitted}">
                    <label>Jenis Kelamin <span class="req">*</span></label>
                    <ui-select name="jk" ng-model="rk.jk.selected" search-enabled="false" required>
                        <ui-select-match placeholder="Pilih...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="jk in rk.jks">
                            <div ng-bind-html="jk.name"></div>
                        </ui-select-choices>
                    </ui-select>
                    <p class="help-block" ng-show="form.kelamin.$error.required && rk.submitted">
                        <span class="fa fa-times-circle fa-fw"></span> Tidak boleh kosong
                    </p>
                </div>
                <div>
                    <button class="btn btn-primary btn-sm" type="submit">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</div>