<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h4>{{rk.nama}}</h4>
            <hr/>
        </div>
        <div class="col-md-12">
            <table class="table table-bordered table-condensed table-hover">
                <tbody>
                    <tr>
                        <td><a ui-sref=".profil({id: rk.id})" title="Profil"><span class="fa fa-folder fa-fw"></span> Profil</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".anamnesa({id: rk.id})" title="Anamnesa"><span class="fa fa-folder fa-fw"></span> Anamnesa</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".fisik({id: rk.id})" title="Fisik Diagnostik"><span class="fa fa-folder fa-fw"></span> Fisik Diagnostik</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".radiologi({id: rk.id})" title="Pemeriksaan Radiologi"><span class="fa fa-folder fa-fw"></span> Pemeriksaan Radiologi</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".laboratorium({id: rk.id})" title="Pemeriksaan Laboratorium"><span class="fa fa-folder fa-fw"></span> Pemeriksaan Laboratorium</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".medis({id: rk.id})" title="Pemeriksaan / Tindakan Medis Diagnostik"><span class="fa fa-folder fa-fw"></span> Pemeriksaan / Tindakan Medis Diagnostik</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".diagnosa({id: rk.id})" title="Diagnosa"><span class="fa fa-folder fa-fw"></span> Diagnosa</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".pengobatan({id: rk.id})" title="Pengobatan"><span class="fa fa-folder fa-fw"></span> Pengobatan</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".terapi({id: rk.id})" title="Tindakan Medik Terapi"><span class="fa fa-folder fa-fw"></span> Tindakan Medik Terapi</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".rehabilitasi({id: rk.id})" title="Rehabilitasi Medik"><span class="fa fa-folder fa-fw"></span> Rehabilitasi Medik</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".konsultasi({id: rk.id})" title="Konsultasi Khusus"><span class="fa fa-folder fa-fw"></span> Konsultasi Khusus</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".usul({id: rk.id})" title="Usul / Tindakan Lanjut"><span class="fa fa-folder fa-fw"></span> Usul / Tindakan Lanjut</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a ui-sref=".kontrol({id: rk.id})" title="Kartu Kontrol"><span class="fa fa-folder fa-fw"></span> Kartu Kontrol</a>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="" ng-click="rk.showmodal(rk.id)" title="Hapus"><span class="fa fa-trash fa-fw"></span> Hapus</a></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="" ng-click="rk.popup(rk.id)"><span class="fa fa-print fa-fw"></span> Cetak</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>