<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h4>Satuan</h4>
            <hr/>
        </div>
        <form class="form" name="form" ng-submit="gd.submit(form)" novalidate>
            <div class="col-md-4">
                <div class="form-group" ng-class="{'has-error':form.satuan.$error.required && gd.submitted}">
                    <label>Satuan <span class="req">*</span></label>
                    <input type="text" name="satuan" class="form-control input-sm" ng-model="gd.data.satuan" required>
                    <p class="help-block" ng-show="form.satuan.$error.required && gd.submitted">
                        <span class="fa fa-times-circle fa-fw"></span> Tidak boleh kosong
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <hr/>
                <button class="btn btn-primary btn-sm" type="submit">Simpan</button>
            </div>
        </form>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            <div class="blockui" block-ui="block">
                <div class="table-responsive" ng-show="gd.datas.length>0">
                    <table class="table table-bordered table-striped" style="width: 50%;">
                        <thead>
                            <tr>
                                <th class="text-center" style="width: 5%;">No</th>
                                <th class="text-center">Satuan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in gd.datas | orderBy:'satuan'">
                                <td class="text-center">{{$index+1}}</td>
                                <td><a ui-sref=".edit({id:data._id})">{{data.satuan}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>