<navbar></navbar>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ncy-breadcrumb></ncy-breadcrumb>
            <h4>Usul / Tindakan Lanjut</h4>
            <hr/>
        </div>
    </div>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#t1" aria-controls="t1" role="tab" data-toggle="tab">1</a></li>
        </ul>


        <div class="blockui" block-ui="block">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t1">
                    <form class="form" name="form1" ng-submit="rk.submit1(form1)" novalidate>
                        <table class="ft">
                            <tr>
                                <td style="width: 2%;">1.</td>
                                <td>
                                    <input name="usul1" class="form-control input-sm" ng-model="rk.data.usul1" />
                                </td>
                                <td style="width: 30%;"></td>
                            </tr>
                            <tr>
                                <td>2.</td>
                                <td>
                                    <input name="usul2" class="form-control input-sm" ng-model="rk.data.usul2" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3.</td>
                                <td>
                                    <input name="usul3" class="form-control input-sm" ng-model="rk.data.usul3" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4.</td>
                                <td>
                                    <input name="usul4" class="form-control input-sm" ng-model="rk.data.usul4" />
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>5.</td>
                                <td>
                                    <input name="usul5" class="form-control input-sm" ng-model="rk.data.usul5" />
                                </td>
                                <td></td>
                            </tr>
                        </table>
                        <div>
                            <hr/>
                            <button class="btn btn-primary btn-sm" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>